<!DOCTYPE html>
<html>
    <head>
        <title>Projekt 2</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <ul class="navbar-nav mb-2">
                    <li class="nav-item"><a href="/" title="Home" class="nav-link">Home</a></li>
                    <% if(user !== undefined) {%>
                        <li class="nav-item"><a href="/logout" title="Logout" class="nav-link">Logout</a></li>
                    <% } else { %>
                        <li class="nav-item"><a href="/login" title="Login" class="nav-link">Login</a></li>
                    <% } %>
                </ul>
            </div>
        </nav>
        <main class="d-flex">
            <div class="ms-2 w-100">
                <% for(let i = 0; i < comments.length; i++) { %>
                    <div class="border border-dark border-2 rounded w-75 mb-3 mt-5 text-wrap">
                        <% for(let prop in comments[i]) { %>
                            <p>
                                <%- comments[i][prop] %>
                            </p>
                        <% } %>
                    </div>
                <% } if(user) {%>
                    <form action="/commentUnsafe" method="post" class="mt-2 w-50 ms-2">
                        <div class="form-group">
                            <label for="comment">Add comment: </label>
                            <textarea class="form-control mt-1" name="comment" id="comment"></textarea>
                            <button type="submit" class="btn btn-info mt-2">Comment</button>
                        </div>
                    </form>
                <% } %>
            </div>
        </main>
    </body>
</html>
